.title {
  margin: 0 0 10px;
  font-size: 18px;
  color: #10a1d0;
  padding-bottom: 5px;
  font-weight: bold;
  border-bottom: 1px solid #61b4c9;
}
.container{
  background-color: #235669 !important;
  border:1px solid #61b4c9;
};
