.create-row{
  /* height: 40px; */
  line-height: 40px;
}

.create-tit{
  /* text-align: right;   */
}
.create-input{
  width: 95%;
  height: 25px;
  line-height: 100%;
}

.create-select{
  margin-top: 5px;
  width: 95%;
  height: 25px;
}

.time-input{
  width: 80%;
}

.create-date{
  width: 95%;
}

.create-textarea{
  width: 95%;
  height: 50px;
  line-height: 20px;
}

.create-row-btn{
  line-height: 80px;
}